@model RecursosHumanosPRO.Models.ViewModels.TablaContrato
@{
    ViewBag.Title = "Editar Contrato";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<center><h2>recibirEmpleado</h2></center>
<br />
<br />
@using (Html.BeginForm("Editar", "Contrato", FormMethod.Post))
{

    <div class="row">
        <div class="col-md-5">
            @Html.HiddenFor(d => d.IdContrato)
            <div class="form-group">
                @Html.LabelFor(d => d.IdEmpleado)
                @Html.TextBoxFor(d => d.IdEmpleado, new { @class = "form-control disabled" })
                @Html.ValidationMessageFor(d => d.IdEmpleado, null, new { @class = "danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(d => d.Salario)
                @Html.TextBoxFor(d => d.Salario, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Salario, null, new { @class = "danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(d => d.JornadaLAboral)
                @Html.TextBoxFor(d => d.JornadaLAboral, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.JornadaLAboral, null, new { @class = "danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(d => d.DiasdeDescanso)
                @Html.TextBoxFor(d => d.DiasdeDescanso, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.DiasdeDescanso, null, new { @class = "danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(d => d.Fecha_de_contrato)
                @Html.EditorFor(d => d.Fecha_de_contrato, new { @class = "form-control" })
                @Html.ValidationMessageFor(d => d.Fecha_de_contrato, null, new { @class = "danger" })
            </div>
            <div style=" text-align:right;">
                <input value="Guardar" class="btn btn-primary" type="submit" />
                @Html.ActionLink("Regresar", "Empleados", "Empleados")
            </div>
        </div>
    </div>
}
<br />
<br />
